{% extends "sales/base.html" %}
{% block content %}
    <h1>About Sales</h1>
    <div class="content-section">
        <p>
            This web app, written in Python/Django, allows the user to create a new customer then charge against that
            customer using the Place New Order form.
            The user can then collect payments from the customer using the payments view. The app keeps track of the total
            amount owed for that customer after each transaction in addition to the total amount owed for each order.
            Enjoy selling!
        </p>
    </div>

{% endblock content %}